<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Fragrance safe products list: </h1> 
    <table>
        <tr>
            <th>use it?</th>
            <th>product name</th>
            <th>product brand</th>
            <th>product type</th>

        </tr>
        <% for(let i=0; i < products.length; i++) {%> <!-- this is the javascript that is embeded; we're intiating a for loop  -->
        <tr class = "item">
            <td><span class="fa fa-heart"><%=products[i].likes%></span></td>
            <td> <span><%= products[i].name %></span>    </td>
            <td><span class = "slant"><%= products[i].brand %></span></td>
            <td> <span><%= products[i].type%></span></td>
    <% } %>
        </tr>
    </table>

    <script src="https://kit.fontawesome.com/4950176e85.js" crossorigin="anonymous"></script>
    <script src='js/main.js'></script> <!-- where to find the client side js -->
</body>
</html>
